body {
    background-color: #f1f2f3;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Verdana, serif;
}

/* GRID */
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.row {
    display: flex;
}

.admin-area {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.col-side {
    width: 24%;
    background-color: #1D2939;
    color: #fff;
}

.col-main {
    width: 76%;
    background-color: #fff;
}

.col-side,
.col-main {
    padding: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 66vh;
}

.panel-name {
    margin-bottom: 20px;
}

.panel-name h3 {
    margin: 0;
}

.panel-name span  {
    font-size: 80%;
    color: #777;
    font-weight: 500;
}

/* NAVIGATION */

.navigation {
    margin-top: 45px;
}

.avatar {
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 12px;
    margin: 0 -12px;
    border-radius: 4px;
    background-color: #182231;
}

.menu a {
    color: #fff;
}

.submenu {
    /*padding-left: 25px;*/
}

.menu,
.submenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item,
.submenu-item {
    display: block;
}

.menu-item {
    margin-bottom: 10px;
}

.menu-link {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.submenu-link {
    font-size: 14px;
    font-weight: normal;
}

.menu-link,
.submenu-link {
    text-decoration: none;
}

.menu-link:hover,
.submenu-link:hover {
    color: #00B297;
}

.active > a {
    color: #00B297;
}

.main-title {
    margin: 0;
}

/* FORMS */
.form-control {
    width: 100%;
    margin-bottom: 5px;
}

.form-control label {
    font-size: 13px;
    color: #777;
    bottom: -8px;
    left: 22px;
    background-color: #fff;
    padding: 0 6px;
    position: relative;
}

.form-control input,
.form-control select,
.form-control textarea {
    width: 100%;
    border: 1px solid #1D2939;
    padding: 11px 10px 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    color: #1D2939;
}

.form-control label,
.form-control input,
.form-control select,
.form-control textarea {
    border-radius: 4px;
}

.form-control .select {
    padding: 20px 14px;
    border: 1px solid #1D2939;
}

.form-control input.submit {
    background-color: #00B297;
    color: #fff;
    border-color: #00B297;
    margin-top: 20px;
    padding: 16px 40px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-control input.submit:hover {
    background-color: #1D2939;
    color: #fff;
    border-color: #1D2939;
}