body {
    background-color: #f1f2f3;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Verdana, serif;
}

/* GRID */
.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
        margin-bottom: 60px;
    }
}

.row {
    display: block;
}

@media screen and (min-width: 1024px) {
    .row {
        display: flex;
    }
}

.admin-area {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.col-side {
    width: 100%;
    background-color: #1D2939;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1024px) {
    .col-side {
        display: block;
        width: 24%;
    }
}

.col-main {
    width: 100%;
    background-color: #fff;
}

@media screen and (min-width: 1024px) {
    .col-main {
        width: 76%;
    }
}

.col-side,
.col-main {
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
    .col-side,
    .col-main {
        padding: 25px;
        min-height: 66vh;
    }
}

@media screen and (min-width: 1024px) {
    .panel-name {
        margin-bottom: 20px;
    }
}

.panel-name h3 {
    margin: 0;
}

.panel-name span  {
    display: none;
}

@media screen and (min-width: 1024px) {
    .panel-name span  {
        display: inline-block;
        font-size: 80%;
        color: #777;
        font-weight: 500;
    }
}

/* NAVIGATION */

.navigation {
    margin-top: 45px;
    display: none;
}

@media screen and (min-width: 1024px) {
    .navigation {
        margin-top: 45px;
        display: block;
    }
}



.avatar {
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 12px;
    margin: 0 -12px;
    border-radius: 4px;
    background-color: #182231;
}

.menu a {
    color: #fff;
}

.submenu {
    /*padding-left: 25px;*/
}

.menu,
.submenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item,
.submenu-item {
    display: block;
}

.menu-item {
    margin-bottom: 10px;
}

.menu-link {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.submenu-link {
    font-size: 14px;
    font-weight: normal;
}

.menu-link,
.submenu-link {
    text-decoration: none;
}

.menu-link:hover,
.submenu-link:hover {
    color: #00B297;
}

.active > a {
    color: #00B297;
}

.main-title {
    margin: 0;
}

.hamburger {
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .hamburger {
        display: none;
    }
}

.hamburger span {
    display: block;
    height: 2px;
    width: 20px;
    margin: 4px;
    background-color: #fff;
}

/* FORMS */
.form-control {
    width: 100%;
    margin-bottom: 5px;
}

.form-control label {
    font-size: 13px;
    color: #777;
    bottom: -8px;
    left: 22px;
    background-color: #fff;
    padding: 0 6px;
    position: relative;
}

.form-control input,
.form-control select,
.form-control textarea {
    width: 100%;
    border: 1px solid #1D2939;
    padding: 11px 10px 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    color: #1D2939;
}

.form-control label,
.form-control input,
.form-control select,
.form-control textarea {
    border-radius: 4px;
}

.form-control .select {
    padding: 20px 14px;
    border: 1px solid #1D2939;
}

.form-control input.submit {
    background-color: #00B297;
    color: #fff;
    border-color: #00B297;
    margin-top: 20px;
    padding: 16px 40px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.form-control input.submit:hover {
    background-color: #1D2939;
    color: #fff;
    border-color: #1D2939;
}